.nav {
  display: flex;
  justify-content: flex-end;
  /* background: linear-gradient(15deg,var(--color-grey-dark),var(--color-blue-light)) border-box;  */
  background-color: var(--color-bg);
  /* border: 2px solid var(--color-blue-light); */
  font-family: var(--font-family);
  animation: fade-in-out .75s;
  border-bottom: 1px solid var(--color-grey-dark);
}

.nav a {
  text-decoration: none;
  color: rgb(47, 47, 47);

}

.nav-items h3 {

  font-weight: 400;
  font-size: 15px;
  margin-left: 1rem;

  padding-left: 2rem;
  border-left: 1px solid var(--color-grey-dark);

}

.hide-nav{
  display: none;
}

.nav-big {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 700px;
  justify-content: center;
}

.nav-small {
  font-weight: 400;
  font-size: 12px;
  display: none;
}

@media screen and (max-width: 500px) {
  .nav-small {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  } 

  .nav-big {
    display: none;
  }

  .nav {
    padding: 1rem;
  }
}