.nav {
  display: flex;
  justify-content: flex-end;
  /* background: linear-gradient(15deg,var(--color-blue-dark),var(--color-blue-light)) border-box;  */
  background-color: var(--color-bg);
  /* border: 2px solid var(--color-blue-light); */
  font-family: var(--font-family);
  animation: fade-in-out 2s;
}

.nav a {
  text-decoration: none;
  color: var(--color-blue-dark);
}

.nav-items h3 {
  font-weight: 400;
  font-size: 13px;
  margin-left: 1rem;
  letter-spacing: 0.7px;
  padding-left: 2rem;
  border-left: 1px solid var(--color-blue-light);

}

.hide-nav{
  display: none;
}

.nav-big {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  width: 700px;
  justify-content: center;
}

.nav-small {
  font-size: 10px;
  display: none;
}

@media screen and (max-width: 500px) {
  .nav-small {
    display: flex;
  } 

  .nav-big {
    display: none;
  }

  .nav {
    padding: 1rem;
  }
}