button,
input,
textarea,
select {
  font: inherit;
}

ul{
  padding-inline-start: 0px
}

.header{
  /* margin-left: 1rem; */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  background: var(--color-blue-dark);
  margin: 0;
  letter-spacing: .7px;
  animation: fade-in-out .75s;
}

@keyframes fade-in-out {
  0%{
    opacity: 0;
  }
  100%{
    opacity:1;
  }
}