/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
} */


button,
input,
textarea,
select {
  font: inherit;
}

/* .test{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
} */

.header{
  /* margin-left: 1rem; */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  background: var(--color-blue-standard);
  margin: 0;
  border-top: 2px solid var(--color-blue-light);
  letter-spacing: 0.7px;
  border-bottom: 2px solid var(--color-blue-darker);
}