@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: "Fira Sans", sans-serif;
  --font-family: "Playwrite DE Grund", cursive;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #ffffff;
  --color-grey: rgb(242, 242, 242);
  --color-blue-light: #2badd9;
  --color-blue: #0283FE;
  --color-grey-dark: rgb(47, 47, 47);
  --color-blue-darker: #002b55;
  --color-blue-dark--tp: #003f72a9;

  --color-blue-standard-light: #32c0c0;
  --color-blue-standard: #0B5DAE;

}

body, html{
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: var(--font-family);

  font-optical-sizing: auto;

}