.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-blue-dark);
  color: #fff;
  border: 1px solid var(--color-blue-light);
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  font-size: 13px;
  letter-spacing: 1px;
}